<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Form</title>
    <link rel="stylesheet" href="../ReactForm.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

</head>
<body>

  
    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
        <h2 style="padding-top:30px;text-align: center">LTR</h2>
        
        <button type="button" class="r-button r-button-text r-ripple r-big"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-normal"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-samll"> Download </button><br />

        <button type="button" class="r-button r-button-text r-ripple r-big r-gradient"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-normal r-gradient"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-samll r-gradient"> Download </button><br />


        <button type="button" class="r-button r-button-text r-ripple r-big r-gradient r-rounded"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-normal r-gradient r-rounded"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-samll r-gradient r-rounded"> Download </button><br />

        <button type="button" class="r-button r-button-text r-ripple r-big r-rounded"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-normal r-rounded"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-samll r-rounded"> Download </button><br />
            
        <button type="button" class="r-button r-button-text r-ripple r-flat r-big"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-flat r-normal"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-flat r-samll"> Download </button><br />
            
        <button type="button" class="r-button r-button-text r-ripple r-big  r-rounded r-flat"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-normal r-rounded  r-flat"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-samll r-rounded r-flat"> Download </button>

        <button type="button" class="r-button r-button-text r-ripple r-big r-simple r-flat"> Download</button>
        <button type="button" class="r-button r-button-text r-ripple r-normal r-simple r-flat"> Download</button>
        <button type="button" class="r-buttonr-button-text r-ripple r-samll r-simple r-flat"> Download </button>
        
   
    </div>
    <div style="text-align:right;width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
            <h2 style="padding-top:30px;text-align: center">RTL</h2>
        
            <button type="button" class="r-button r-button-text r-ripple r-big"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-normal"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-samll"> دانلود نرم افزار </button><br />

            <button type="button" class="r-button r-button-text r-ripple r-big r-gradient"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-normal r-gradient"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-samll r-gradient"> دانلود نرم افزار </button><br />


            <button type="button" class="r-button r-button-text r-ripple r-big r-gradient r-rounded"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-normal r-gradient r-rounded"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-samll r-gradient r-rounded"> دانلود نرم افزار </button><br />

            <button type="button" class="r-button r-button-text r-ripple r-big r-rounded"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-normal r-rounded"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-samll r-rounded"> دانلود نرم افزار </button><br />
                
            <button type="button" class="r-button r-button-text r-ripple r-flat r-big"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-flat r-normal"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-flat r-samll"> دانلود نرم افزار </button><br />
                
            <button type="button" class="r-button r-button-text r-ripple r-big  r-rounded r-flat"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-normal r-rounded  r-flat"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-samll r-rounded r-flat"> دانلود نرم افزار </button>

            <button type="button" class="r-button r-button-text r-ripple r-big r-simple r-flat"> دانلود نرم افزار</button>
            <button type="button" class="r-button r-button-text r-ripple r-normal r-simple r-flat"> دانلود نرم افزار</button>
            <button type="button" class="r-buttonr-button-text r-ripple r-samll r-simple r-flat"> دانلود نرم افزار </button>
            
       
    </div>
</body>
</html>