<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Form</title>
    <link rel="stylesheet" href="../ReactForm.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

</head>
<body>

  
    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
            <h2 style="padding-top:30px;text-align: center">LTR</h2>
        
            <div class="rf-button "><div class=" rf-button-text rf-ripple rf-big"> Download</div></div>
            <div class="rf-button "><div class=" rf-button-text rf-ripple rf-normal"> Download</div></div>

            <div class="rf-button "><div class=" rf-button-text rf-ripple rf-samll"> Download</div> </div><br />

            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-big rf-gradient"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-normal rf-gradient"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-samll rf-gradient"> Download</div> </div><br />


            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-big rf-gradient rf-rounded"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-normal rf-gradient rf-rounded"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-samll rf-gradient rf-rounded"> Download</div> </div><br />

            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-big rf-rounded"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-normal rf-rounded"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-samll rf-rounded"> Download</div> </div><br />
             
            <div class="rf-button"><div class=" rf-button-text rf-ripple  rf-flat rf-big"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-flat rf-normal"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-flat rf-samll"> Download</div> </div><br />
             
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-big   rf-rounded rf-flat"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-normal   rf-rounded  rf-flat"> Download</div></div>
            <div class="rf-button"><div class=" rf-button-text rf-ripple rf-samll   rf-rounded rf-flat"> Download</div> </div>
           
   
    </div>
    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
            <h2 style="padding-top:30px;text-align: center">RTL</h2>
        
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-big"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-normal"> دانلود</div></div>

            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-samll"> دانلود</div> </div><br />

            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-big rf-gradient"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-normal rf-gradient"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-samll rf-gradient"> دانلود</div> </div><br />


            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-big rf-gradient rf-rounded"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-normal rf-gradient rf-rounded"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-samll rf-gradient rf-rounded"> دانلود</div> </div><br />

            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-big rf-rounded"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-normal rf-rounded"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-samll rf-rounded"> دانلود</div> </div><br />
             
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple  rf-flat rf-big"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-flat rf-normal"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-flat rf-samll"> دانلود</div> </div><br />
             
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-big   rf-rounded rf-flat"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-normal   rf-rounded  rf-flat"> دانلود</div></div>
            <div class="rf-button rf-rtl"><div class=" rf-button-text rf-ripple rf-samll   rf-rounded rf-flat"> دانلود</div> </div> 
   
    </div>
</body>
</html>