<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Form</title>
    <link rel="stylesheet" href="./style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

    <style>
        table {
        border-collapse: collapse;
        }

        table, th, td {
        border: 1px solid black;
        }
    </style>

</head>
<body>

    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
        <h2 style="padding-top:30px;text-align: center">LTR</h2>
   
        <div class="r-checkbox r-lg">
            <label>
                <input type="checkbox">
                <span class="r-checkbox-fake">    
                    <span class="check"></span>
                </span> 
                <span class="r-checkbox-text">I Agree</span>
            </label>
        </div>  
        <div class="r-checkbox r-lg r-disabled">
            <label>
                <input type="checkbox" disabled>
                <span class="r-checkbox-fake">    
                    <span class="check"></span>
                </span> 
                <span class="r-checkbox-text">I Agree</span>
            </label>
        </div>  <br />

        
        <div class="r-checkbox">
            <label>
                <input type="checkbox">
                <span class="r-checkbox-fake">    
                    <span class="check"></span>
                </span> 
                <span class="r-checkbox-text">I Agree</span>
            </label>
        </div> 
        <div class="r-checkbox r-disabled">
            <label>
                <input type="checkbox" disabled>
                <span class="r-checkbox-fake">    
                    <span class="check"></span>
                </span> 
                <span class="r-checkbox-text">I Agree</span>
            </label>
        </div>   <br />

        <div class="r-checkbox r-xs">
            <label>
                <input type="checkbox">
                <span class="r-checkbox-fake">    
                    <span class="check"></span>
                </span> 
                <span class="r-checkbox-text">I Agree</span>
            </label>
        </div> 
        <div class="r-checkbox r-xs r-disabled">
            <label>
                <input type="checkbox" disabled>
                <span class="r-checkbox-fake">    
                    <span class="check"></span>
                </span> 
                <span class="r-checkbox-text">I Agree</span>
            </label>
        </div>  
     
           
         
        <h2 style="padding-top:30px;text-align: center">Use in Table</h2>
        <table>
                <tr>
                    <td>
                        <div class="r-checkbox r-nospace r-xs">
                            <label>
                                <input type="checkbox">
                                <span class="r-checkbox-fake">    
                                    <span class="check"></span>
                                </span> 
                            </label>
                        </div>  
                    </td>
                    <td>
                        <div class="r-checkbox r-nospace r-xs">
                            <label>
                                <input type="checkbox">
                                <span class="r-checkbox-fake">    
                                    <span class="check"></span>
                                </span> 
                            </label>
                        </div>  
                    </td>
                    <td>
                        <div class="r-checkbox r-nospace r-xs">
                            <label>
                                <input type="checkbox">
                                <span class="r-checkbox-fake">    
                                    <span class="check"></span>
                                </span> 
                            </label>
                        </div>  
                    </td>

                </tr>
            <tr>
                <td>
                    <div class="r-checkbox r-nospace r-xs">
                        <label>
                            <input type="checkbox">
                            <span class="r-checkbox-fake">    
                                <span class="check"></span>
                            </span> 
                        </label>
                    </div>  
                </td>
                <td>
                    <div class="r-checkbox r-nospace r-xs">
                        <label>
                            <input type="checkbox">
                            <span class="r-checkbox-fake">    
                                <span class="check"></span>
                            </span> 
                        </label>
                    </div>  
                </td>
                <td>
                    <div class="r-checkbox r-nospace r-xs">
                        <label>
                            <input type="checkbox">
                            <span class="r-checkbox-fake">    
                                <span class="check"></span>
                            </span> 
                        </label>
                    </div>  
                </td>

            </tr>
            

        </table>


   
    </div>
    <div style="text-align:right;direction:rtl;width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
        <h2 style="padding-top:30px;text-align: center">RTL</h2>
        <div class="r-checkbox r-lg r-rtl">
                <label>
                    <input type="checkbox">
                    <span class="r-checkbox-fake">    
                        <span class="check"></span>
                    </span> 
                    <span class="r-checkbox-text">موافقم</span>
                </label>
            </div>  
            <div class="r-checkbox r-lg r-disabled  r-rtl">
                <label>
                    <input type="checkbox" disabled>
                    <span class="r-checkbox-fake">    
                        <span class="check"></span>
                    </span> 
                    <span class="r-checkbox-text">موافقم</span>
                </label>
            </div>  <br />
    
            
            <div class="r-checkbox  r-rtl">
                <label>
                    <input type="checkbox">
                    <span class="r-checkbox-fake">    
                        <span class="check"></span>
                    </span> 
                    <span class="r-checkbox-text">موافقم</span>
                </label>
            </div> 
            <div class="r-checkbox r-disabled  r-rtl">
                <label>
                    <input type="checkbox" disabled>
                    <span class="r-checkbox-fake">    
                        <span class="check"></span>
                    </span> 
                    <span class="r-checkbox-text">موافقم</span>
                </label>
            </div>   <br />
    
            <div class="r-checkbox r-xs  r-rtl">
                <label>
                    <input type="checkbox">
                    <span class="r-checkbox-fake">    
                        <span class="check"></span>
                    </span> 
                    <span class="r-checkbox-text">موافقم</span>
                </label>
            </div> 
            <div class="r-checkbox r-xs r-disabled  r-rtl">
                <label>
                    <input type="checkbox" disabled>
                    <span class="r-checkbox-fake">    
                        <span class="check"></span>
                    </span> 
                    <span class="r-checkbox-text">موافقم</span>
                </label>
            </div>  
            
                
                
            <h2 style="padding-top:30px;text-align: center">Use in Table</h2>
            <table>
                    <tr>
                        <td>
                            <div class="r-checkbox r-nospace r-xs">
                                <label>
                                    <input type="checkbox">
                                    <span class="r-checkbox-fake">    
                                        <span class="check"></span>
                                    </span> 
                                </label>
                            </div>  
                        </td>
                        <td>
                            <div class="r-checkbox r-nospace r-xs">
                                <label>
                                    <input type="checkbox">
                                    <span class="r-checkbox-fake">    
                                        <span class="check"></span>
                                    </span> 
                                </label>
                            </div>  
                        </td>
                        <td>
                            <div class="r-checkbox r-nospace r-xs">
                                <label>
                                    <input type="checkbox">
                                    <span class="r-checkbox-fake">    
                                        <span class="check"></span>
                                    </span> 
                                </label>
                            </div>  
                        </td>
    
                    </tr>
                <tr>
                    <td>
                        <div class="r-checkbox r-nospace r-xs">
                            <label>
                                <input type="checkbox">
                                <span class="r-checkbox-fake">    
                                    <span class="check"></span>
                                </span> 
                            </label>
                        </div>  
                    </td>
                    <td>
                        <div class="r-checkbox r-nospace r-xs">
                            <label>
                                <input type="checkbox">
                                <span class="r-checkbox-fake">    
                                    <span class="check"></span>
                                </span> 
                            </label>
                        </div>  
                    </td>
                    <td>
                        <div class="r-checkbox r-nospace r-xs">
                            <label>
                                <input type="checkbox">
                                <span class="r-checkbox-fake">    
                                    <span class="check"></span>
                                </span> 
                            </label>
                        </div>  
                    </td>
    
                </tr>
                
    
            </table>
        
</body>
</html>