<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Form</title>
    <link rel="stylesheet" href="../ReactForm.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

</head>
<body>

  
    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
            <h2 style="padding-top:30px;text-align: center">Login</h2>
        
            <div class="rf-input rf-has-icon">
                    <input type="text" class="filled" />
                    <label>Username</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span>
            </div>
            <div class="rf-input rf-has-icon">
                    <input type="text" class="filled" />
                    <label>Password</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span>
            </div>

            <div class="rf-checkbox">
                <label>
                    <input type="checkbox">
                    <span class="checkbox-material">    
                        <span class="check"></span>
                    </span> 
                    <span class="checkbox-text">Remember me</span>
                </label>
            </div>
            
            <br /> <br /> 
            <div style="text-align:left"><div class="rf-button rf-normal"><div class=" rf-button-text rf-ripple"> Login</div></div></div>

           
           
    </div>
    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
            <h2 style="padding-top:30px;text-align: center">ورود</h2>
            <div class="rf-input rf-has-icon rf-rtl">
                    <input type="text" class="filled" />
                    <label>نام کاربری</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span>
            </div>
            <div class="rf-input rf-has-icon rf-rtl">
                    <input type="text" class="filled" />
                    <label>رمز عبور</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span>
            </div>

            <div class="rf-checkbox rf-rtl">
                <label>
                    <input type="checkbox">
                    <span class="checkbox-material">    
                        <span class="check"></span>
                    </span> 
                    <span class="checkbox-text">مرا به یاد داشته باش</span>
                </label>
            </div>
            <br /> <br /> 
            <div style="text-align:right"><div class="rf-button rf-normal rf-rtl"><div class=" rf-button-text rf-ripple"> ورود</div></div></div>
           

    </div>
    
    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
            <h2 style="padding-top:30px;text-align: center">Login</h2>
        
            <div class="rf-input rf-has-icon rf-bordered">
                    <input type="text" class="filled" />
                    <label>Username</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span>
            </div>
            <div class="rf-input rf-has-icon rf-bordered">
                    <input type="text" class="filled" />
                    <label>Password</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span>
            </div>

            <div class="rf-checkbox">
                <label>
                    <input type="checkbox">
                    <span class="checkbox-material">    
                        <span class="check"></span>
                    </span> 
                    <span class="checkbox-text">Remember me</span>
                </label>
            </div>
            
            <br /> <br /> 
            <div style="text-align:left"><div class="rf-button rf-normal"><div class=" rf-button-text rf-ripple"> Login</div></div></div>

           
           
    </div>
    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
            <h2 style="padding-top:30px;text-align: center">ورود</h2>
            <div class="rf-input rf-has-icon rf-rtl rf-bordered">
                    <input type="text" class="filled" />
                    <label>نام کاربری</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span>
            </div>
            <div class="rf-input rf-has-icon rf-rtl rf-bordered">
                    <input type="text" class="filled" />
                    <label>رمز عبور</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg></span>
            </div>

            <div class="rf-checkbox rf-rtl">
                <label>
                    <input type="checkbox">
                    <span class="checkbox-material">    
                        <span class="check"></span>
                    </span> 
                    <span class="checkbox-text">مرا به یاد داشته باش</span>
                </label>
            </div>
            <br /> <br /> 
            <div style="text-align:right"><div class="rf-button rf-normal rf-rtl"><div class=" rf-button-text rf-ripple"> ورود</div></div></div>
           

    </div>
</body>
</html>