<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Form</title>
    <link rel="stylesheet" href="../ReactForm.css">
    <link rel="stylesheet" href="fonts/material/css/materialdesignicons.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

</head>
<body style="background: url(images/bg.jpg) no-repeat center center fixed; background-size: cover;">

    <div class="rf-popup rf-center rf-rtl">
        <div class="rf-popup-header">
            <div class="rf-popup-title">بازیابی رمز عبور</div> 
        </div>
        <div class="rf-popup-content">
                <div class="rf-input rf-has-icon rf-rtl">
                    <input type="text" class="filled" />
                    <label>رمز عبور</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z" /></svg></span>
                </div>
                <div class="rf-input rf-has-icon rf-rtl">
                    <input type="text" class="filled" />
                    <label>تکرار رمز عبور</label>
                    <span class="rf-line"></span>
                    <span class="rf-input-icon"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z" /></svg></span>
                </div>
        
        
        </div>
        <div class="rf-popup-footer-flat" >
                <div ><div class="rf-button "><div class=" rf-big rf-button-text rf-ripple rf-rounded rf-gradient ">تغییر رمز عبور</div></div></div>
           

              
                
        </div>
    </div>  

   
 

</body>
</html>