<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Form</title>
    <link rel="stylesheet" href="../ReactForm.css">
    <script src="jquery.min.js"></script>
    <script src="scripts.js"></script>

</head>
<body>
    <div style="width:500px;padding:40px;border:1px solid #ddd; margin:100px auto">

        <!-- ltr -->
        <div class="rf-input">
            <input type="text" class="filled" />
            <label>Last Name</label>
            <span class="rf-line"></span>
        </div>

        <!-- rtl -->
        <div class="rf-input rf-rtl">
            <input type="text" class="filled" />
            <label>Last Name</label>
            <span class="rf-line"></span>
        </div>

        <!-- ltr && bordered -->
        <div class="rf-input rf-bordered">
            <input type="text" class="filled" />
            <label>Last Name</label>
            <span class="rf-line"></span>
        </div>

        <!-- rtl && bordered -->
        <div class="rf-input rf-rtl rf-bordered">
            <input type="text" class="filled" />
            <label>Last Name</label>
            <span class="rf-line"></span>
        </div>

        <!-- ltr & disabled-->
        <div class="rf-input rf-disabled rf-bordered">
            <input type="text" class="filled" value="abbas" />
            <label>Last Name</label>
            <span class="rf-line"></span>
        </div>

         <!-- ltr && bordered && disabled -->
        <div class="rf-input rf-disabled">
            <input type="text" class="filled" value="abbas" />
            <label>Last Name</label>
            <span class="rf-line"></span>
        </div>   

        <!-- ltr && error -->
        <div class="rf-input rf-error">
            <input type="text" class="filled" value="abbas" />
            <label>Last Name</label>
            <span class="rf-line"></span>
            <span class="rf-icon"><?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg></span>
            <span class="rf-message">You should fill this field</span>    
        </div>

         <!-- rtl && error -->
        <div class="rf-input rf-rtl rf-error">
            <input type="text" class="filled" value="abbas" />
            <label>Last Name</label>
            <span class="rf-line"></span>
            <span class="rf-icon"><?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg></span>
            <span class="rf-message">پر کردن این فیلد الزامیست</span>  
        </div>      
    </div>
</body>
</html>