<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Form</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="fonts/material/css/materialdesignicons.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="r-rtl">
    <div class="page-header">
        <div class="page-header-bg">
            <div class="bg">
                <img src="images/banner-image.jpg" alt="Red dot" />
            </div>
        </div>
        <div class="page-header-logo">
            <img src="images/logo.svg" />
        </div>
        <ul class="page-header-buttons">
                <li><a href=""> <span class="mdi mdi-arrow-left"></span></a></li>
            <li >
                    <span class="mdi mdi-web"></span>
                <select class="page-header-language">
                    <option>EN</option>
                    <option>FA</option>
                </select>
            </li>
            
        </ul>
    
    </div>


    <div class="form">
        <div class="form-title">ورود به نرم افزار</div>
        <div class="form-elements">
            <div class="r-input    r-has-icon">
                <input type="text" class="filled" />
                <label>ناحیه کاربری</label>
                
                <span class="r-input-icon"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M18,15H16V17H18M18,11H16V13H18M20,19H12V17H14V15H12V13H14V11H12V9H20M10,7H8V5H10M10,11H8V9H10M10,15H8V13H10M10,19H8V17H10M6,7H4V5H6M6,11H4V9H6M6,15H4V13H6M6,19H4V17H6M12,7V3H2V21H22V7H12Z" />
                </svg></span>

            </div>
            <div class="r-input    r-has-icon">
                    <input type="text" class="filled" />
                    <label>نام کاربری</label>
                    
                    <span class="r-input-icon"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z" /></svg></span>

        
                </div>
                <div class="r-input   r-has-icon">
                <input type="text" class="filled" />
                <label>رمز عبور</label>
                
                <span class="r-input-icon"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z" /></svg></span>


              

            </div>
           
            <button type="button" class="r-button r-ripple r-bordered "> بازیابی رمز عبور</button>
            <button type="button" class="r-button r-ripple r-info"> ورود به نرم افزار </button><br />
            <button type="button" class="r-button r-ripple  "> <span class="mdi mdi-google"></span></button>
            <button type="button" class="r-button r-ripple  "> <span class="mdi mdi-cellphone"></span></button>

    </div>
       
            
    </div>


   
 

</body>
</html>