<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Form</title>
    <link rel="stylesheet" href="./style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

</head>
<body>

    <div style="width:400px;padding:40px;border:1px solid #ddd; margin:50px;float: left; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
        <h2 style="padding-top:30px;text-align: center">LTR</h2>
        <div class="r-tag r-input r-bordered" >
            <ul class="r-chips">
                <li class="r-chips-item"><img src="./images/person.jpg">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item"><img src="./images/person.jpg">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                
                <li class="r-chips-item"><img src="./images/person.jpg">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item"><img src="./images/person.jpg">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                
                <li class="r-chips-item"><img src="./images/person.jpg">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item"><img src="./images/person.jpg">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                

            </ul>
            
            <input type="text" />
            <label>Monthly tags</label>
            
            <div class="r-options">

                <div class="r-options-item"> Abbas hosseini</div>
                <div class="r-options-item"> Mohammad feiz</div>
                <div class="r-options-item"> Reza ranjbar</div>
                <div class="r-options-item"> Amir abouei</div>
            </div>
        </div>


        <div class="r-tag r-input" >
            <ul class="r-chips">
                <li class="r-chips-item">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                
                <li class="r-chips-item">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                
                <li class="r-chips-item">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                
                <li class="r-chips-item">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                
            </ul>
            
            <input type="text" />
            <label>Monthly tags</label>
            
            <div class="r-options">

                <div class="r-options-item"> Abbas hosseini</div>
                <div class="r-options-item"> Mohammad feiz</div>
                <div class="r-options-item"> Reza ranjbar</div>
                <div class="r-options-item"> Amir abouei</div>
            </div>
        </div>
        <div class="r-tag r-input r-bordered r-disabled" >
            <ul class="r-chips">
                    <li class="r-chips-item">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                    <li class="r-chips-item">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
            </ul>
                
            <input type="text" disabled />
            <label>Monthly tags</label>
            
            <div class="r-options">

                <div class="r-options-item" data-key="1" data-value="محمد فیض"> عباس حسینی</div>
                <div class="r-options-item" data-key="2" data-value="محمد فیض"> محمد فیض</div>
                <div class="r-options-item" data-key="3" data-value="رضا رنجبر"> رضا رنجبر</div>
                <div class="r-options-item" data-key="4" data-value="امیر ابویی"> امیر ابویی</div>
            </div>
        </div>
        <h2 style="padding-top:30px;text-align: center">راست چین</h2>
        <div class="r-tag r-input r-rtl r-bordered" >
            <ul class="r-chips">
                <li class="r-chips-item"><img src="./images/person.jpg">ali<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item"><img src="./images/person.jpg">mohammad<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                
            </ul>
            
            <input type="text" />
            <label>Monthly tags</label>
            
            <div class="r-options">

                <div class="r-options-item"> Abbas hosseini</div>
                <div class="r-options-item"> Mohammad feiz</div>
                <div class="r-options-item"> Reza ranjbar</div>
                <div class="r-options-item"> Amir abouei</div>
            </div>
        </div>
        <div class="r-tag r-input r-rtl" >
            <ul class="r-chips">
                <li class="r-chips-item">علی<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                <li class="r-chips-item">محمد<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
            </ul>
            
            <input type="text" />
            <label>برچسب های ماهانه</label>
            
            <div class="r-options">

                <div class="r-options-item"> Abbas hosseini</div>
                <div class="r-options-item"> Mohammad feiz</div>
                <div class="r-options-item"> Reza ranjbar</div>
                <div class="r-options-item"> Amir abouei</div>
            </div>
        </div>
        <div class="r-tag r-input r-rtl  r-disabled" >
            <ul class="r-chips">
                    <li class="r-chips-item">علی<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
                    <li class="r-chips-item">محمد<span class="r-tag-icon"><svg viewBox="0 0 24 24"><path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></li>
            </ul>
                
            <input type="text" disabled />
            <label>برچسب های ماهانه</label>
            
            <div class="r-options">

                <div class="r-options-item"> عباس حسینی</div>
                <div class="r-options-item"> محمد فیض</div>
                <div class="r-options-item"> رضا رنجبر</div>
                <div class="r-options-item"> امیر ابویی</div>
            </div>
        </div>
        
        
    </div>

  

</body>
</html>