

@font-face {
    font-family: 'Opensans_Regular';
    src: url('fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: IRANSans_Light;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/iransans/eot/IRANSansWeb_Light.eot');
	src: url('fonts/iransans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/iransans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iransans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
body {

    margin: 0;
    background: #F8F8F8

}
*, *:before, *:after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit
}


ul ,li {
    margin: 0;
    padding: 0;
    list-style: none
}



/*******************
* Main
********************/
#main {
    font-family: 'Opensans_Regular', 'IRANSans_Light';
    display: flex;
    flex-direction: row-reverse; 
}
/*******************
* Sidebar
********************/
#sidebar {
    background: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    width: 320px;
    position: fixed;
    left: 32px;
    top: 48px;
    height:calc(100% - 96px);
    color: #646464;
    font-size: 14px;
}
#sidebar .sidebar-menu {
    overflow-y: auto;
    padding: 0 24px 24px 24px;    
    height: calc(100% - 160px)
}
#sidebar ul {
    padding: 6px 0;
}
#sidebar ul ul li:hover a,
#sidebar ul ul li.active a{
    background: #41A4E5;
    color: #fff
}
#sidebar ul ul li a{
    padding: 8px 0;
    border-radius: 5px;
    padding-left: 40px;
    display:block
}

#sidebar li span {
    font-size: 20px;
    color: #AFAFAF;
    padding-right: 4px;
    position: relative;
}


.sidebar-header {
    display: flex;
    font-size: 13px;
    color: #646464;
    margin: 24px 24px 0 24px
    

}
.sidebar-search {
    margin: 24px 0 16px 0;
    display: flex;
    justify-content: center
}
.sidebar-search input {
    outline: 0;
    border: 1px solid #BFBEBE;
    border-radius: 5px;
    width: calc(100% - 48px);
    padding:10px 12px ;
    color: #646464;
    font-weight: normal;
    font-family: inherit;
  
}
/*******************
* Content
********************/
#content {
    background: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 24px 10%;
    width: calc(100% - 416px);
    overflow: auto;
    position: fixed;
     height:calc(100% - 96px);
    top: 48px;
    right: 32px;
}







