/**************
* Tree View
**************/
.r-tree {
    ul {
        padding:20;
        margin: 0;
    }
    user-select: none; 
    li {
        position: relative;
        color: #333;
        padding: 10px 5px 0 5px;
        white-space: nowrap;
        .toggle-icon {
            position: relative;
            padding:0 12px;
            top: 5px
        }
        .node-actions {
           display: inline-block;
        }
 
        .add-node {
            position: relative;
            padding:0 8px;
            top: 5px;
            color: #ccc;
        }
        .remove-node {
            position: relative;
            top: 5px;
        }
        ul {
            padding:0 24px;
        }
        input {
            outline: 0;
            border: 0;
            border: 1px solid #00A1F1;
            padding:2px   ;
            font-family: inherit;
            font-size: 16px;
            border-radius: 3px;
            color: #00A1F1;
        }
    }

}