.r-calendar {
  width: 256px;
  border:1px solid var(--border-color);
  padding: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; 
}

/* Header */
.r-calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom:4px
}
.r-calendar-header .r-changer svg {
  width: 26px;
  height: 26px;
  fill: var(--label-color);
  cursor: pointer;
  padding: 0 5px
}
.r-calendar-header .r-changer svg:hover {
    fill: var(--text-color);
}
.r-calendar-header .r-title {
  color: var(--label-color);
  font-size: 14px
}

/* Content */

.r-calendar-content {

}

.r-calendar-item.r-week {
  pointer-events: none
}


.r-calendar-item{
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  
   line-height: 36px;
   cursor: default;
   font-size: 13px;
   vertical-align: middle;
  transition: all .5s ease-out;
  
  
}

.r-calendar-item > span{
   width:28px;
   height:28px;
   line-height: 28px;
  display: block;

}
.r-calendar-item:hover span{
   background: #eee;
   border-radius: 50%;
  transition: all .5s ease;

}
.r-calendar-item.r-disabled {
  color: #bbb;
  pointer-events: none;
}



/* Footer */
.r-calendar-footer {
  margin-top: 16px
}