
/**********************************************
* INPUT
***********************************************/
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}



.r-input {
    position: relative;
    margin-top:  calc(var(--space-around) * 1rem) ;
    margin-bottom: calc(var(--space-around) * 1rem) ;
}

/* No Cursor */
.r-input.r-noselect > input {
    color: transparent;
    text-shadow: 0 0 0 var(--text-color);
    cursor: pointer
}
.r-input.r-noselect > input:focus {
    outline: none;
}
  
  


/* Input */
.r-input > input,
.r-input > textarea {
    background-color: #fff;
    color:var(--text-color);
    font-size:calc(var(--text-size) * 1em); 
    border: none;
    border-bottom: 1px solid var(--label-color);
    border-radius: 0;
    outline: none;
    height: calc(var(--input-height) * 1.9rem) ;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;

}

/* textarea */
.r-input > textarea {
    height: calc(var(--input-height) * 3.3rem) ;
    overflow: hidden;
    resize: none;
    white-space: pre-wrap
    
}



/* Label */
.r-input > label {
    position:absolute;
    top:2px;
    left: 0;
    height: 16px;
    cursor: text;
    font-size: calc(var(--text-size) * 1em);
    color: var(--text-color);
    pointer-events: none;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -ms-transition: 300ms ease all;
    background:transparent
}




/* Line */
.r-input.r-bordered > .r-line {
    display: none
}
.r-input >input ~ .r-line,
.r-input >textarea ~ .r-line {
    position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2px;
	border: none;
	background:var( --focus-color);
	will-change: transform, visibility;
	transition: all 200ms ease-out;
	transform: scaleX(0);
	visibility: hidden;
	
}
.r-input >textarea ~ .r-line {
    top: calc(100% - 8px)
}

/* Icon */
.r-input > .r-icon {
    position: absolute;
    top: calc(50% - 12px);
    right: 0;  
}

.r-input > .r-icon svg {
  width: 20px !important;
}
/* Error & Success */
.r-input.r-error > .r-message{
    position: absolute;
    top: 0;
    color : var(--danger-color);
    font-size: calc(var(--label-size) * 1em)
}
.r-input.r-success > .r-icon  svg {
    fill : var(--success-color) !important;
    
}
.r-input.r-error > .r-icon  svg {
    fill : var(--danger-color) !important;    
}

/* Has icon */
.r-input.r-has-icon > .r-input-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 25px;
    overflow: hidden;
    top: calc(50% - 16px);
    left: 0 ; 
}

.r-input.r-has-icon > .r-input-icon span {
    position: relative;
    top: -3px
}
.r-input.r-has-icon > .r-input-icon sapn{
  font-size: 22px
}
.r-input.r-has-icon > .r-input-icon svg {
    width: 25px;
    color: var(--text-color) !important;
    fill:  var(--text-color) ;
}
.r-input.r-has-icon > input,
.r-input.r-has-icon > textarea{
    padding-left: unset;
    padding-left: 32px ;
}
.r-input.r-has-icon > label {
   left: 32px
}


/* Bordered */
.r-input.r-bordered > input {
    padding-top: .1rem;/*Fix input is not exactly in center*/
    height: calc(var(--input-height) * 3rem) ;
}
.r-input.r-bordered > textarea {
    padding-top: 10px;
    height: calc(var(--input-height) * 4rem) ;
}
.r-input.r-bordered > .r-icon {
    position: absolute;
    top: calc(50% - 10px);
    right: 8px ;
    
}
.r-input.r-bordered > input,
.r-input.r-bordered > textarea {
    border: 1px solid var(--label-color);
    border-radius: 4px;
    padding-left: 16px;
}
.r-input.r-bordered > label {
    left: 16px;
    top: calc(50% - 10px) 
}

/* Has icon & Bordered */
.r-input.r-bordered.r-has-icon > .r-input-icon {
    left: 8px
}
.r-input.r-bordered.r-has-icon > input,
.r-input.r-bordered.r-has-icon > textarea{
    padding-left: unset;
    padding-left: 40px ;
}
.r-input.r-bordered.r-has-icon > label {
   left: 40px
}



/* Disabled */
.r-input.r-disabled > input,
.r-input.r-disabled > textarea {
    border-bottom: 1px dashed var(--disabled-color) !important;
}
.r-input.r-has-icon.r-disabled > .r-input-icon ,
.r-input.r-disabled > .r-icon {
    opacity: .3
}

.r-input.r-bordered.r-disabled > input {
    border: 1px dashed var(--disabled-color) !important;
}
.r-input.r-disabled > input ,
.r-input.r-disabled > textarea {
    color: var(--label-color);
    cursor: not-allowed
}



/* Messagea */
.r-input > .r-message {
    font-size: .8em;
    display: none
}


/* Focus */
.r-input > input:focus ~ label,
.r-input > textarea:focus ~ label,
.r-input.filled > label{
    top: -18px;
    color: var(--label-color);
    font-size: calc(var(--label-size) * 1em);
}
.r-input.r-error > input:focus ~ label,
.r-input.r-error > textarea:focus ~ label,
.r-input.r-error.filled > label{
    color : var(--danger-color);
}

.r-input.r-bordered > input:focus ~ label,
.r-input.r-bordered > textarea:focus ~ label,
.r-input.r-bordered.filled > label{
    top: -8px;
     color: var(--label-color);
     font-size: calc(var(--label-size) * 1em);
    background: #fff

}
.r-input.r-error.r-bordered > input:focus ~ label,
.r-input.r-error.r-bordered > textarea:focus ~ label,
.r-input.r-error.r-bordered.filled > label{
    color : var(--danger-color);
}
.r-input.r-bordered > input:focus,
.r-input.r-bordered > textarea:focus{
    border: 2px solid var(--focus-color);  

}

.r-input >	input:focus ~ .r-line,
.r-input >	textarea:focus ~ .r-line{
	transform: scaleX(1);
	visibility: visible;
}

/**********************************************
* RTL INPUT
***********************************************/
.r-input.r-rtl.r-error > .r-message,
.r-input.r-rtl.r-success > .r-message{
    text-align: right;
    direction:rtl;
}

.r-input.r-rtl > input,
.r-input.r-rtl > textarea{
    text-align: right ;
    direction: rtl;
}

.r-input.r-rtl > .r-icon {
    right:unset;
    left: 0;
    
}
.r-input.r-rtl > label {
    left: unset;
    right: 0
}

/* Has icon */
.r-input.r-rtl.r-has-icon > .r-input-icon {
    left: unset;
    right: 0 ; 
}
.r-input.r-rtl.r-has-icon > input,
.r-input.r-rtl.r-has-icon > textarea{
    padding-left: unset;
    padding-right: 32px ;
}
.r-input.r-rtl.r-has-icon > label {
    left: unset;
   right: 32px
}


/* Bordered */
.r-input.r-rtl.r-bordered > .r-icon {
    right:unset;
    left: 8px ;
    
}
.r-input.r-rtl.r-bordered > input,
.r-input.r-rtl.r-bordered > textarea {
    padding-left: unset;
    padding-right: 16px ;
}
.r-input.r-rtl.r-bordered > label {
    left: unset;
    right: 16px
}

/* Has icon & Bordered */
.r-input.r-rtl.r-bordered.r-has-icon > .r-input-icon {
    
    left: unset;
    right: 8px
}
.r-input.r-rtl.r-bordered.r-has-icon > input,
.r-input.r-rtl.r-bordered.r-has-icon > textarea{
    padding-right: unset;
    padding-right: 40px ;
}
.r-input.r-rtl.r-bordered.r-has-icon > label {
    left: unset;
   right: 40px
}

