
/************************
* INPUT
*************************/
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}



.r-input {
    position: relative;
    margin-top:  calc(var(--space-around) * 1rem) ;
    margin-bottom: calc(var(--space-around) * 1rem) ;
}

/* Input */
.r-input > input,
.r-input > textarea {
    background-color: #fff;
    color:var(--text-color);
    font-size:calc(var(--text-size) * 1em); 
    border: none;
    border-bottom: 1px solid var(--label-color);
    border-radius: 0;
    outline: none;
    height:  3rem ;
    line-height: 1rem;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;

}
.r-input > textarea {
    padding: 5px 10px 0 10px;
     resize: none;
}


/* Label */
.r-input > label {
    position:absolute;
    top: 13px;
    left: 0;
    height: 16px;
    bottom: 0;
    cursor: text;
    font-size: calc(var(--text-size) * 1em);
    color: var(--text-color);
    pointer-events: none;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -ms-transition: 300ms ease all;
    background:transparent
}


/* input icon */
.r-input.r-has-icon > input,
.r-input.r-has-icon > textarea{
    padding-left: unset;
    padding-left: 32px ;
}
.r-input.r-has-icon > .r-input-icon {
    position: absolute;
    top: .7rem;
    left: 0;

   
}
.r-input.r-has-icon > .r-input-icon sapn{
  font-size: 22px
}
.r-input.r-has-icon > .r-input-icon svg {
    width: 25px;
    color: var(--text-color) !important;
}
.r-input.r-has-icon > label {
   left: 32px
}
.r-input.r-has-icon.r-bordered > label {
   left: 24px
}
/* Bordered */
.r-input.r-bordered > input,
.r-input.r-bordered > textarea {
    border: 1px solid var(--label-color);
    border-radius: 4px;
     padding-left: 16px;
}
.r-input.r-bordered.r-has-icon > input,
.r-input.r-bordered.r-has-icon > textarea {
    padding-right: 32px ;
}
.r-input.r-bordered > label {
    margin-left: 16px;
}

.r-input.r-bordered.r-has-icon > .r-input-icon {
    left: 8px
}

/* Disabled */
.r-input.r-disabled > input,
.r-input.r-disabled > textarea {
    border-bottom: 1px dashed var(--disabled-color) !important;
}
.r-input.r-has-icon.r-disabled > .r-input-icon ,
.r-input.r-disabled > .r-icon {
    opacity: .3
}

.r-input.r-bordered.r-disabled > input {
    border: 1px dashed var(--disabled-color) !important;
}
.r-input.r-disabled > input ,
.r-input.r-disabled > textarea {
    color: var(--label-color);
    cursor: not-allowed
}



/* Messagea */
.r-input > .r-message {
    font-size: .8em;
    display: none
}


/* Line */
.r-input.r-bordered > .r-line {
    display: none
}
.r-input >input ~ .r-line,
.r-input >textarea ~ .r-line {
    position: absolute;
	top: 3rem;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2px;
	border: none;
	background:var( --focus-color);
	will-change: transform, visibility;
	transition: all 200ms ease-out;
	transform: scaleX(0);
	visibility: hidden;
	
}

.r-input > textarea ~ .r-line {
  top: 3.5rem;
} 

/* Icon */
.r-input > .r-icon {
    display: none;
    position: absolute;
    top: .8rem;
    right: 10px;
    
}
.r-input > .r-icon svg {
  width: 20px !important;
}
/* Error & Success */
.r-input.r-error > .r-message{
    display: block;
    padding: 0 10px;
    color : var(--error-color);
    font-size: calc(var(--label-size) * 1em)
}
.r-input.r-success > .r-message{
    display: block;
    padding: 0 10px;
    color : var(--success-color);
    font-size: calc(var(--label-size) * 1em)
}
.r-input.r-error > .r-icon ,
.r-input.r-success > .r-icon{
    display: block
}
.r-input.r-error > .r-icon  svg {
     fill : var(--error-color) !important;
     width: 20px;
}
.r-input.r-success > .r-icon  svg {
     fill : var(--success-color) !important;
     width: 20px;
    
}
/* Focus */
.r-input > input:focus ~ label,
.r-input > textarea:focus ~ label,
.r-input.filled > label{
    top: -14px;
    color: var(--label-color);
    font-size: calc(var(--label-size) * 1em);
}
.r-input.r-error > input:focus ~ label,
.r-input.r-error > textarea:focus ~ label,
.r-input.r-error.filled > label{
    color : var(--error-color);
}

.r-input.r-bordered > input:focus ~ label,
.r-input.r-bordered > textarea:focus ~ label,
.r-input.r-bordered.filled > label{
    top: -8px;
     color: var(--label-color);
     font-size: calc(var(--label-size) * 1em);
    background: #fff

}
.r-input.r-error.r-bordered > input:focus ~ label,
.r-input.r-error.r-bordered > textarea:focus ~ label,
.r-input.r-error.r-bordered.filled > label{
    color : var(--error-color);
}
.r-input.r-bordered > input:focus,
.r-input.r-bordered > textarea:focus{
    border: 2px solid var(--focus-color);  
    transition: 200ms ease all;
    -webkit-transition: 200ms ease all;
    -moz-transition: 200ms ease all;
    -ms-transition: 200ms ease all;
}
.r-input.r-bordered > input,
.r-input.r-bordered > textarea {
    padding-right: 16px;
}
.r-input.r-bordered > label {
    margin-right: 8px;
}
.r-input >	input:focus ~ .r-line,
.r-input >	textarea:focus ~ .r-line{
	transform: scaleX(1);
	visibility: visible;
}
/* RTL */
.r-input.r-rtl > input,
.r-input.r-rtl > textarea{
    text-align: right ;
    direction: rtl
}
.r-input.r-rtl >.r-icon {
    right: unset;
    left: 10px;
}
.r-input.r-rtl > label {
  left: unset ;
    right: 0 ;
}

.r-input.r-rtl.r-has-icon > .r-input-icon {
    left: unset;
    right: 10px;
}
.r-input.r-rtl.r-has-icon > .r-input-icon svg {
    width: 25px;
    color: var(--text-color)
}
.r-input.r-rtl.r-has-icon > label {
   right: 30px
}
.r-input.r-rtl.r-has-icon > input,
.r-input.r-rtl.r-has-icon > textarea{
    padding-right: 40px
}

.r-input.r-rtl.r-error > .r-message,
.r-input.r-rtl.r-success > .r-message{
    text-align: right;
    direction:rtl;
}


