
/************************
* SELECT
************************/
.r-select {
    cursor: pointer;  
}
.r-select > input {
    padding-right: 28px
}
/* Animated arrow */
.r-select .r-icon {
    transition: .2s ease-in-out all;    
}
.r-select.active > .r-icon {
    transition: .3s ease all;
    transition: .3s ease-in-out all;
    transform: rotate(180deg);
    top: 5px
} 


/* RTL */

.r-select.r-rtl > input {
    padding-right: unset;
    padding-left: 28px;
}