
/************************
* SELECT
************************/
.r-select {
    cursor: pointer;  
}
.r-select  .r-options {
}
/* Animated arrow */
.r-select .r-icon {
    transition: .2s ease-in-out all;    
}
.r-select.active > .r-icon {
    transition: .3s ease all;
    transition: .3s ease-in-out all;
    transform: rotate(180deg);
    top: 5px
} 
