

/************************
* SELECT
*************************/
.rf-select{
    position: relative;
    margin-top:  calc(var(--space-around) * 1rem) ;
    margin-bottom: calc(var(--space-around) * 1rem) ;
    font-size: calc(var(--input-font-size) * 1em);
    -webkit-user-select: none; /* Safari 3.1+ */
   -moz-user-select: none; /* Firefox 2+ */ /* IE 10+ */
   user-select: none; /* Standard syntax */
    cursor: pointer
    
}
.rf-select > input {
    background-color: #fff;
    color:var(--text-color);
    font-size:calc(var(--text-size) * 1em); 
    border: none;
    cursor: pointer;
    color: transparent;
    text-shadow: 0 0 0 var(--text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid var(--label-color);
    border-radius: 0;
    outline: none;
    height:  3rem ;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 4px 10px 0 10px;
    font-family: inherit;
    

}
.rf-select> label {
    position:absolute;
    top: 13px;
    left: 0;
    height: 20px;
    bottom: 0;
    margin: 0 4px;
    padding: 0 6px;
    cursor: text;
    color: var(--label-color);
    font-size:calc(var(--text-size) * 1em) ;
    pointer-events: none;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -ms-transition: 300ms ease all;
    background:transparent
}

/* input icon */
.rf-select.rf-has-icon > input{
    padding-left: 40px
}
.rf-select.rf-has-icon > .rf-input-icon {
    position: absolute;
    top: .7rem;
    left: 10px;
}
.rf-select.rf-has-icon > .rf-input-icon sapn{
  font-size: 22px
}
.rf-select.rf-has-icon > .rf-input-icon svg {
    width: 25px;
    color: var(--text-color)
}
.rf-select.rf-has-icon > label {
   left: 31px;
}
.rf-select.rf-rtl .rf-message {
    text-align: right;
    direction: rtl;
    float: right;
}

/* Options */
.rf-select > .rf-options {
    display: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 3;
    left: 0;
    top: calc(3rem + 4px)
}
.rf-select.active  .rf-options {
    display: block
}
.rf-select  .rf-options-item {
    position: relative;
    padding:16px 24px;
    color: var(--text-color);
    cursor: pointer;
    font-size: .9em
}
.rf-select.rf-has-icon .rf-option-icon {
    position: absolute;
    left: 16px;
    top: 10px
}
.rf-select.rf-has-icon .rf-option-icon > svg {
    width: 26px;
    height: 26px;
}
.rf-select.rf-has-icon .rf-options-item  {
   padding-left: 50px
}

.rf-select .rf-options-item:hover,
.rf-select .rf-options-item.selected  {
    background: #f2f2f2
}
.rf-select  .rf-options-search {
     width:calc(100% - 48px);
}
.rf-select  .rf-options-search > input{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding:12px 24px;
    font-size:calc(var(--text-size * 1em));
    color: var(--text-color);
    font-family: inherit;
}
/* Line */
.rf-select.rf-bordered > .rf-line {
    display: none
}
.rf-select > .rf-line {
    position: absolute;
	top: 3rem;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2px;
	border: none;
	background:var( --focus-color);
	will-change: transform, visibility;
	transition: all 200ms ease-out;
	transform: scaleX(0);
	visibility: hidden;
	
}

/* Disabled */
.rf-select.rf-disabled > input{
    border-bottom: 1px dashed var(--disabled-color) !important;
    color: var(--label-color);
    cursor: not-allowed
    
}
.rf-select.rf-disabled.rf-bordered > input {
    border: 1px dashed var(--disabled-color) !important;
    color: var(--label-color);

}
.rf-select.rf-has-icon.rf-disabled > .rf-input-icon ,
.rf-select.rf-disabled > .rf-icon{
    opacity: .3
}
.rf-select > .rf-icon > svg
.rf-select.rf-bordered.rf-disabled > input {
    border: 1px dashed var(--disabled-color) !important;
}

/* Bordered */
.rf-select.rf-bordered > input {
    border: 1px solid var(--label-color);
    border-radius: 4px;

}
.rf-select> .rf-message {
    font-size: calc(var(--label-size) * 1em);
    padding: 0 10px;
    display: none
}
.rf-select.rf-bordered  .rf-options {
    top: calc(3rem + 4px)
}

/* Icon */
.rf-select> .rf-icon {
    position: absolute;
    top: .8rem;
    right: 0;
    transition: .2s ease all;
    -webkit-transition: .2s ease all;  
}
.rf-select.active > .rf-icon {
    transition: .2s ease all;
    -webkit-transition: .2s ease all;
    transform: rotate(180deg);
    top: 5px
} 
.rf-select> .rf-icon > svg {
    width: 25px;
  
  padding: 0 6px;
    color : var(--text-color)
}


/* Error */
.rf-select.rf-error > .rf-message{
    display: block;
    color : var(--error-color);
}
.rf-select.rf-error > label {
    color : var(--error-color);
}


/* Focus */
.rf-select > input:focus {
    outline: none;
    
}

.rf-select> label{
    top: -14px;
    font-size:calc(var(--label-size) * 1em) ;

}

.rf-select.rf-bordered > label{
    
    top: -8px;
    font-size:calc(var(--label-size) * 1em) ;
    background: #fff

}
.rf-select.active > input:focus ~ .rf-line {
	transform: scaleX(1);
	visibility: visible;
}
.rf-select.rf-bordered > input:focus {

    border: 2px solid var(--focus-color);    

    
}


/* RTL */
.rf-select.rf-rtl > input{
    text-align: right ;
    direction: rtl
}
.rf-select.rf-rtl >.rf-icon {
    right: unset;
    left: 0
}

.rf-select.rf-rtl > label {
  left: unset ;
   right: 0 ;
}
.rf-select.rf-rtl .rf-message {
    text-align: right;
    direction: rtl;
    float: right;

}
.rf-select.rf-rtl .rf-options-item ,
.rf-select.rf-rtl .rf-options-search > input {
    text-align: right;
    direction: rtl
    
}
.rf-select.rf-rtl.rf-has-icon > .rf-input-icon {
    left: unset;
    right: 10px;
}
.rf-select.rf-rtl.rf-has-icon > .rf-input-icon svg {
    width: 25px;
    color: var(--text-color)
}
.rf-select.rf-rtl.rf-has-icon > label {
   right: 31px
}
.rf-select.rf-rtl.rf-has-icon > input{
    padding-right: 40px
}

.rf-select.rf-rtl.rf-has-icon .rf-option-icon {
    left: unset;
    right: 16px;
}
.rf-select.rf-rtl.rf-has-icon .rf-options-item  {
    padding-left: 24x;
   padding-right: 50px
}
