:root {
  /* Sizes */
  --input-font-size : 1 ;
  --input-space-around : 2;
  /* Colors */
  --error : #F44336;
  --input-border: #9e9e9e;
  --input-disabled :#ddd;
  --input-focus-border: #145AF9;
  --input-text: #333;

}


/************************
* INPUT
*************************/
body {
    font-size: 1em;
    font-family: arial
}
.rf-input {
    position: relative;
    margin-top:  calc(var(--input-space-around) * 1rem) ;
    margin-bottom: calc(var(--input-space-around) * 1rem) ;
    font-size: calc(var(--input-font-size) * 1em);
    
}
.rf-input > input {
    background-color: #fff;
    color:var(--input-text);
    font-size: 1em; 
    border: none;
    border-bottom: 1px solid var(--input-border);
    border-radius: 0;
    outline: none;
    height:  3rem ;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 0 10px;

}

/* Disabled */
.rf-input.rf-disabled > input {
    border-bottom: 1px dashed var(--input-disabled) !important;
}
.rf-input.rf-bordered.rf-disabled > input {
    border: 1px dashed var(--input-disabled) !important;
}
.rf-input.rf-disabled > input {
    color: var(--input-border)
}
.rf-input.rf-disabled .rf-line{
    display: none
}

/* Bordered */
.rf-input.rf-bordered > input {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 3.5rem;
}
.rf-input.rf-bordered > input:focus {
    border: 2px solid var(--input-focus-border);    
}
.rf-input > .rf-message {
    font-size: .8em;
    display: none
}
.rf-input > label {
    position:absolute;
    top: 18px;
    left: 0;
    height: 20px;
    bottom: 0;
    margin: 0 4px;
    padding: 0 6px;
    cursor: text;
    color: var(--input-border);
    pointer-events: none;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -ms-transition: 300ms ease all;
    background:transparent
}


.rf-input.rf-bordered > .rf-line {
    display: none
}
.rf-input > .rf-line {
    position: absolute;
	top: 3rem;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2px;
	border: none;
	background:var( --input-focus-border);
	will-change: transform, visibility;
	transition: all 200ms ease-out;
	transform: scaleX(0);
	visibility: hidden;
	
}

/* Icon */
.rf-input > .rf-icon {
    display: none;
    position: absolute;
    top: 1rem;
    right: 8px;
    
}
.rf-input > .rf-icon > svg {
    width: 20px
}
/* Error */
.rf-input.rf-error > .rf-message{
    display: block;
    color : var(--error);
}
.rf-input.rf-error > label {
    color : var(--error);
}
.rf-input.rf-error > .rf-icon {
    display: block
}
.rf-input > .rf-icon > svg {
     fill : var(--error);
}
/* Focus */
.rf-input > input:focus ~ label,
.rf-input > input.filled ~ label{
    top: -14px;
    font-size: .8em;
}
.rf-input.rf-bordered > input:focus ~ label,
.rf-input.rf-bordered > input.filled ~ label{
    top: -8px;
    font-size: .8em;
    background: #fff

}
.rf-input >	input:focus ~ .rf-line {
	transform: scaleX(1);
	visibility: visible;
}

/* RTL */
.rf-input.rf-rtl > input{
    text-align: right ;
    direction: rtl
}
.rf-input.rf-rtl >.rf-icon {
    right: unset;
    left: 8px
}
.rf-input.rf-rtl > label {
  left: unset ;
    right: 0 ;
}
.rf-input.rf-rtl .rf-message {
    text-align: right;
    direction: rtl;
    float: right;

}